nav{
    position: absolute;
    justify-content: space-around;
    display: flex;
    min-height: 8vh;
    width: 100%;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
    z-index: 5;
  }

  .link a {
      color: #FFFFFF;
  }

  .link a:hover {
    color: #fb0000;
}

  .navlinks{
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 50%;
      font-size: 30px;
      font-weight: 400;
  }

  .cyberpvnkers{
      display: flex;
      font-size: 60px;

  }

  .hamburguer-toggle{

      cursor: pointer;
      color: #FFFFFF;
      display: none;
      z-index: 5;
  }

  @media screen and (max-width: 850px) {
    body {
      overflow-x: hidden;
    }
    .hamburguer-toggle{
      display: block;
    }
    .navlinks {
        z-index: 5;
      position:absolute;
      right: 0px;
      display: flex;
      flex-direction: column;
      height: 92vh;
      align-items: center;
      width: 100%;
      top: 8vh;
      background-color: teal;
      font-size: 40px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
  
    .active {
      transform: translateX(0%);
    }
  }